body {
    margin: 0;
    height: 100%;
}

/* #webgl {
    background-color: black;
    flex-shrink: 0;      
    display: block;
} */

canvas {
    width: 100vw;
    height: 100vh;
    display: block;
}

/* .controls-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
}

.slider-value {
    display: inline-block;
    width: 3ch;
    text-align: right;
} */